<a href="https://colab.research.google.com/github/Ohjinseo2022/Showmeeverything/blob/master/%EC%8B%9C%EA%B0%81%ED%99%94%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import chardet
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, date
import datetime
import csv
#반복문 시간 확인
from tqdm import tqdm

In [3]:
forders = os.listdir('/content/drive/MyDrive/시각화프로젝트/아파트(매매)')
forders

['2009아파트(매매).csv',
 '2008아파트(매매).csv',
 '2007아파트(매매).csv',
 '2006아파트(매매).csv',
 '2015아파트(매매).csv',
 '2014아파트(매매).csv',
 '2013아파트(매매).csv',
 '2012아파트(매매).csv',
 '2011아파트(매매).csv',
 '2010아파트(매매).csv',
 '2022아파트(매매).csv',
 '2021아파트(매매).csv',
 '2020아파트(매매).csv',
 '2019아파트(매매).csv',
 '2018아파트(매매).csv',
 '2017아파트(매매).csv',
 '2016아파트(매매).csv']

In [4]:
import pandas as pd
import numpy as np
import os

forders = os.listdir('/content/drive/MyDrive/시각화프로젝트/아파트(매매)')
forders
# 폴더안에 있는 csv 손쉽게 통합 시키는 방법 
trading_all = pd.DataFrame()
for i in range(len(forders)):
    if forders[i].split('.')[1] == 'csv': # split 함수를 사용하여 . 을 기준으로 두개의 리스트로 분리후 1번 인덱스 값이 csv인것만 추출
        file = "/content/drive/MyDrive/시각화프로젝트/아파트(매매)/"+forders[i]# csv 파일만 변수에 저장
        df = pd.read_csv(file, encoding='cp949')#csv파일 불러오기 
        trading_all = pd.concat([trading_all,df])#concat 함수 사용하여 병합

In [74]:
trading_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1236261 entries, 0 to 110321
Data columns (total 15 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1236261 non-null  object
 1   번지        1236040 non-null  object
 2   본번        1236186 non-null  float64
 3   부번        1236186 non-null  float64
 4   단지명       1236261 non-null  object
 5   전용면적(㎡)   1236261 non-null  float64
 6   계약년월      1236261 non-null  int64
 7   계약일       1236261 non-null  int64
 8   거래금액(만원)  1236261 non-null  object
 9   층         1236261 non-null  int64
 10  건축년도      1236259 non-null  float64
 11  도로명       1236261 non-null  object
 12  해제사유발생일   5100 non-null     float64
 13  거래유형      1236261 non-null  object
 14  중개사소재지    1236261 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 183.2+ MB

In [65]:
#문자열을 날짜형태로 바꿔주는 함수 
def strtodate(str):
    convert_date = datetime.datetime.strptime(str, "%Y%m%d").date()
    return convert_date

In [59]:
temp = trading_all[['시군구','단지명','전용면적(㎡)','계약년월','계약일','거래금액(만원)','층','건축년도']] #우선 내가 필요한 컬럼 분리 
temp1 = temp.values #전처리에 필요한 컬럼을 인덱스끼리 분리 
temp_list = temp1.tolist() # 각각의 정보를 리스트형태로 변환

In [71]:
temp_list[0][1]

'개포2차현대아파트(220)'

In [72]:
temp_list[0][1] == "롯데캐슬" or temp_list[0][1] == "힐스테이트" or temp_list[0][1] == '자이' or temp_list[0][1] == '푸르지오' or temp_list[0][1] == 'e편한세상'

False

  주소      단지명   전용면적  계약년월  계약일 거래금액(만원) 층 준공년도

In [121]:
dateYMD = [] # 년월일을 담을 리스트
dateYM = [] #년월을 담을 리스트
dateMD = [] # 월일을 담을 리스트
dateY = [] #년도를 담을 리스트
dateM = [] # 월을 담을 리스트
dateD = [] # 일을 담을 리스트 
address_all = [] # 주소를 담을리스트 .
address_city = [] # 시/ 도 정보를 담을 리스트.
address_region = [] #행정구을 담을 리스트 .
address_detail = [] # 행정동를 담을 리스트.
type_list =[] # 단지명을 담을 리스트.
brand_list = [] #브랜드 유무를 구분할 리스트
land_area = [] # 전용면적을 담을 리스트 
price_list = [] #거래금액을 담을 리스트 
floor_list =[] #층정보를 담을 리스트
completion_year= [] #준공년도
completion = [] #건축년도 재컨축대상을 담을 리스트 
avg_price =[] #평단가를 담을 리스트
for i in tqdm(range(len(temp_list))):
    ######주소 구문하여 나눠 넣기 
    address_all.append(temp_list[i][0])
    temp = temp_list[i][0].split(' ')# 공백을 기준으로 행정구와 동을 분리
    address_city.append(temp[0])#시/도
    address_region.append(temp[1]) # 행정구
    address_detail.append(temp[2]) #행정동

    ########브랜드 구문하여 넣기
    type_list.append(temp_list[i][1]) #단지명
    if "롯데캐슬" in temp_list[i][1] or "힐스테이트" in temp_list[i][1]  or '자이' in temp_list[i][1] or '푸르지오' in temp_list[i][1] or 'e편한세상' in temp_list[i][1]:
      brand_list.append('유')
    else:
      brand_list.append('무')
    land_area.append(temp_list[i][2]) #전용면적

    #년월일을 분류하기 편하게 datetime형태로 변환함 
    if temp_list[i][4]//10 == 0: #날짜를 조건에 맞춰 리스트에 추가 일자 값이 10미만이면 앞에 0을 추가 함
        dateYMD.append(strtodate(str(temp_list[i][3])+'0'+str(temp_list[i][4]))) #날짜형태로 바꿔주는 함수 사용 
    else:
        dateYMD.append(strtodate(str(temp_list[i][3])+str(temp_list[i][4])))
    
    #거래금액    
    price_list.append(int(temp_list[i][5].replace(',',''))) #가격사이에 , 를 제거후 숫자형태로 변환 
    #층 정보

    floor_list.append(temp_list[i][6])

    #준공년도 30이상이면 재건축 대상에 들어갈수있음 2015년부터 40년에서 30년으로 규제완화
    completion_year.append(temp_list[i][7])
    if dateYMD[i].year <= 2014:
        if dateYMD[i].year - temp_list[i][7] >= 40:
          completion.append('대상')
        else:
          completion.append('비대상')
    else:
        if dateYMD[i].year - temp_list[i][7] >= 30:
          completion.append('대상')
        else:
          completion.append('비대상')
    #날짜를 구분하여 담음 
    dateYM.append(dateYMD[i].strftime("%Y-%m"))
    dateMD.append(dateYMD[i].strftime("%m-%d"))
    dateY.append(dateYMD[i].year)
    dateM.append(dateYMD[i].month)
    dateD.append(dateYMD[i].day)

# 평단가를 계산하는 for문 
for i in range(len(price_list)):
  avg_price.append(round(price_list[i]/land_area[i],3))

#처리완료한 리스트들 을 다시 데이터프레임으로 병합 
resultdf = pd.DataFrame({'주소':address_all,'시/도':address_city,'행정구':address_region,'행정동':address_detail,
                         '단지명':type_list,'브랜드유무':brand_list,'년월일':dateYMD,'년월':dateYM,'월일':dateMD,'년':dateY,'월':dateM,'일':dateD,
                         '전용면적(㎡)':land_area,'거래금액(만원)':price_list,'평단가':avg_price,'층':floor_list,'준공년도':completion_year,'재건축대상':completion})
#시각화가 간편하도록 년월일 기준으로 정렬 
sort_result = resultdf.sort_values(by=['년월일'])
sort_result.to_csv("/content/drive/MyDrive/시각화프로젝트/아파트(매매)/아파트매매초기.csv",index=False,encoding = 'cp949')

100%|██████████| 1236261/1236261 [00:27<00:00, 44791.95it/s]

In [118]:
sort_result

,주소,시/도,행정구,행정동,단지명,브랜드유무,년월일,년월,월일,년,월,일,전용면적(㎡),거래금액(만원),평단가,층,재건축대상
293703,서울특별시 양천구 신정동,서울특별시,양천구,신정동,목동신시가지9,무,2006-01-01,2006-01,01-01,2006,1,1,53.8200,33300,618.729,7,비대상
298800,서울특별시 영등포구 양평동2가,서울특별시,영등포구,양평동2가,삼성래미안,무,2006-01-01,2006-01,01-01,2006,1,1,59.4000,18000,303.030,2,비대상
216132,서울특별시 관악구 봉천동,서울특별시,관악구,봉천동,봉천우성,무,2006-01-01,2006-01,01-01,2006,1,1,59.7600,16900,282.798,3,비대상
236018,서울특별시 노원구 상계동,서울특별시,노원구,상계동,상계주공6(고층),무,2006-01-01,2006-01,01-01,2006,1,1,59.2000,13500,228.041,12,비대상
271513,서울특별시 서초구 잠원동,서울특별시,서초구,잠원동,신반포2,무,2006-01-01,2006-01,01-01,2006,1,1,79.4200,56700,713.926,4,비대상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734295,서울특별시 영등포구 대림동,서울특별시,영등포구,대림동,신대림신동아파밀리에,무,2022-11-30,2022-11,11-30,2022,11,30,126.3249,68000,538.295,2,비대상
730130,서울특별시 동대문구 답십리동,서울특별시,동대문구,답십리동,힐스테이트청계,유,2022-11-30,2022-11,11-30,2022,11,30,84.8500,120000,1414.260,26,비대상
725428,서울특별시 강남구 도곡동,서울특별시,강남구,도곡동,타워팰리스1,무,2022-11-30,2022-11,11-30,2022,11,30,137.2400,345000,2513.844,28,비대상
732961,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,11300,497.359,1,비대상
732960,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,11300,497.359,3,비대상

In [113]:
for i in range(len(price_list)):
  avg_price.append(round(price_list[i]/land_area[i],3))

In [103]:
len(dateYMD),len(dateYM),len(dateMD),len(dateY),len(dateM),len(dateD),len(address_all),len(address_region),len(address_detail),len(type_list),len(brand_list),len(land_area),len(price_list),len(floor_list),len(completion),len(avg_price)

(1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261)

In [101]:
dateYMD[0].strftime("%Y-%m")

'2009-04'

In [44]:
년월일
년월
월일
년
월
일

주소

시/도

행정구

행정동

In [85]:
strtodate(str(temp_list[0][3])+str(temp_list[0][4])).year - temp_list[0][7]

21.0

In [84]:
temp_list[0][7]

1988.0

In [46]:
trading_all = trading_all.drop(['년월일'],axis =1)