<a href="https://colab.research.google.com/github/Ohjinseo2022/Showmeeverything/blob/master/%EC%8B%9C%EA%B0%81%ED%99%94%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import chardet
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, date
import datetime
import csv
#반복문 시간 확인
from tqdm import tqdm

In [ ]:
forders = os.listdir('/content/drive/MyDrive/시각화프로젝트/아파트(매매)')
forders

['2022아파트(매매).csv',
 '2021아파트(매매).csv',
 '2020아파트(매매).csv',
 '2019아파트(매매).csv',
 '2018아파트(매매).csv',
 '2017아파트(매매).csv',
 '2016아파트(매매).csv',
 '2015아파트(매매).csv',
 '2014아파트(매매).csv',
 '2013아파트(매매).csv',
 '2012아파트(매매).csv',
 '2011아파트(매매).csv',
 '2010아파트(매매).csv',
 '2009아파트(매매).csv',
 '2008아파트(매매).csv',
 '2007아파트(매매).csv',
 '2006아파트(매매).csv',
 '아파트매매초기.csv']

In [ ]:
import pandas as pd
import numpy as np
import os

forders = os.listdir('/content/drive/MyDrive/시각화프로젝트/아파트(매매)')
forders
# 폴더안에 있는 csv 손쉽게 통합 시키는 방법 
trading_all = pd.DataFrame()
for i in range(len(forders)):
    if forders[i].split('.')[1] == 'csv': # split 함수를 사용하여 . 을 기준으로 두개의 리스트로 분리후 1번 인덱스 값이 csv인것만 추출
        file = "/content/drive/MyDrive/시각화프로젝트/아파트(매매)/"+forders[i]# csv 파일만 변수에 저장
        df = pd.read_csv(file, encoding='cp949')#csv파일 불러오기 
        trading_all = pd.concat([trading_all,df])#concat 함수 사용하여 병합

In [ ]:
trading_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1236261 entries, 0 to 110321
Data columns (total 15 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1236261 non-null  object
 1   번지        1236040 non-null  object
 2   본번        1236186 non-null  float64
 3   부번        1236186 non-null  float64
 4   단지명       1236261 non-null  object
 5   전용면적(㎡)   1236261 non-null  float64
 6   계약년월      1236261 non-null  int64
 7   계약일       1236261 non-null  int64
 8   거래금액(만원)  1236261 non-null  object
 9   층         1236261 non-null  int64
 10  건축년도      1236259 non-null  float64
 11  도로명       1236261 non-null  object
 12  해제사유발생일   5100 non-null     float64
 13  거래유형      1236261 non-null  object
 14  중개사소재지    1236261 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 183.2+ MB

In [ ]:
#문자열을 날짜형태로 바꿔주는 함수 
def strtodate(str):
    convert_date = datetime.datetime.strptime(str, "%Y%m%d").date()
    return convert_date

In [ ]:
temp = trading_all[['시군구','단지명','전용면적(㎡)','계약년월','계약일','거래금액(만원)','층','건축년도']] #우선 내가 필요한 컬럼 분리 
temp1 = temp.values #전처리에 필요한 컬럼을 인덱스끼리 분리 
temp_list = temp1.tolist() # 각각의 정보를 리스트형태로 변환

In [ ]:
temp_list[0][1]

'개포2차현대아파트(220)'

In [ ]:
temp_list[0][1] == "롯데캐슬" or temp_list[0][1] == "힐스테이트" or temp_list[0][1] == '자이' or temp_list[0][1] == '푸르지오' or temp_list[0][1] == 'e편한세상'

False

  주소      단지명   전용면적  계약년월  계약일 거래금액(만원) 층 준공년도

## 아파트실거래 매매정보 2006~2022 데이터 전처리 및 통합 처리

In [ ]:
def strtodate(str):
    convert_date = datetime.datetime.strptime(str, "%Y%m%d").date()
    return convert_date
def size_compare(flolt_num):
  if flolt_num < 60:
    return'소형'
  elif flolt_num < 86:
    return'중소형'
  elif flolt_num < 136:
    return'중형'
  else:
    return'대형'

In [ ]:
import pandas as pd
import numpy as np
import os

forders = os.listdir('/content/drive/MyDrive/시각화프로젝트/아파트(매매)')
forders
# 폴더안에 있는 csv 통합 
trading_all = pd.DataFrame()
for i in range(len(forders)):
    if forders[i].split('.')[1] == 'csv': # split 함수를 사용하여 . 을 기준으로 두개의 리스트로 분리후 1번 인덱스 값이 csv인것만 추출
        file = "/content/drive/MyDrive/시각화프로젝트/아파트(매매)/"+forders[i]# csv 파일만 변수에 저장
        df = pd.read_csv(file, encoding='cp949')#csv파일 불러오기 
        trading_all = pd.concat([trading_all,df])#concat 함수 사용하여 병합 

#문자열을 날짜형태로 바꿔주는 함수 

temp = trading_all[['시군구','단지명','전용면적(㎡)','계약년월','계약일','거래금액(만원)','층','건축년도']] #우선 내가 필요한 컬럼 분리 
temp1 = temp.values #전처리에 필요한 컬럼을 인덱스끼리 분리 
temp_list = temp1.tolist() # 각각의 정보를 리스트형태로 변환 

dateYMD = [] # 년월일을 담을 리스트
dateYM = [] #년월을 담을 리스트
dateMD = [] # 월일을 담을 리스트
dateY = [] #년도를 담을 리스트
dateM = [] # 월을 담을 리스트
dateD = [] # 일을 담을 리스트 
address_all = [] # 주소를 담을리스트 .
address_city = [] # 시/ 도 정보를 담을 리스트.
address_region = [] #행정구을 담을 리스트 .
address_detail = [] # 행정동를 담을 리스트.
type_list =[] # 단지명을 담을 리스트.
brand_list = [] #브랜드 유무를 구분할 리스트
land_area = [] # 전용면적을 담을 리스트 
price_list = [] #거래금액을 담을 리스트 
floor_list =[] #층정보를 담을 리스트
completion_year= [] #준공년도
completion = [] #건축년도 재컨축대상을 담을 리스트 
avg_price =[] #평단가를 담을 리스트
for i in tqdm(range(len(temp_list))):
    ######주소 구문하여 나눠 넣기 
    address_all.append(temp_list[i][0])
    temp = temp_list[i][0].split(' ')# 공백을 기준으로 행정구와 동을 분리
    address_city.append(temp[0])#시/도
    address_region.append(temp[1]) # 행정구
    address_detail.append(temp[2]) #행정동

    ########브랜드 구문하여 넣기
    type_list.append(temp_list[i][1]) #단지명
    if "롯데캐슬" in temp_list[i][1] or "힐스테이트" in temp_list[i][1]  or '자이' in temp_list[i][1] or '푸르지오' in temp_list[i][1] or 'e편한세상' in temp_list[i][1]:
      brand_list.append('유')
    else:
      brand_list.append('무')
    land_area.append(temp_list[i][2]) #전용면적

    #년월일을 분류하기 편하게 datetime형태로 변환함 
    if temp_list[i][4]//10 == 0: #날짜를 조건에 맞춰 리스트에 추가 일자 값이 10미만이면 앞에 0을 추가 함
        dateYMD.append(strtodate(str(temp_list[i][3])+'0'+str(temp_list[i][4]))) #날짜형태로 바꿔주는 함수 사용 
    else:
        dateYMD.append(strtodate(str(temp_list[i][3])+str(temp_list[i][4])))
    
    #거래금액    
    price_list.append(int(temp_list[i][5].replace(',',''))) #가격사이에 , 를 제거후 숫자형태로 변환 
    #층 정보

    floor_list.append(temp_list[i][6])

    #준공년도 30이상이면 재건축 대상에 들어갈수있음 2015년부터 40년에서 30년으로 규제완화
    completion_year.append(temp_list[i][7])
    if dateYMD[i].year <= 2014:
        if dateYMD[i].year - temp_list[i][7] >= 40:
          completion.append('대상')
        else:
          completion.append('비대상')
    else:
        if dateYMD[i].year - temp_list[i][7] >= 30:
          completion.append('대상')
        else:
          completion.append('비대상')
    #날짜를 구분하여 담음 
    dateYM.append(dateYMD[i].strftime("%Y-%m"))
    dateMD.append(dateYMD[i].strftime("%m-%d"))
    dateY.append(dateYMD[i].year)
    dateM.append(dateYMD[i].month)
    dateD.append(dateYMD[i].day)

# 평단가를 계산하는 for문 
for i in range(len(price_list)):
  avg_price.append(round(price_list[i]/land_area[i],3))

#아파트 크기 구분을 하기위한 반복문
size_list = [] 
for i in range(len(land_area)):
  size_list.append(size_compare(land_area[i]))
size_list


#처리완료한 리스트들 을 다시 데이터프레임으로 병합 
resultdf = pd.DataFrame({'주소':address_all,'시/도':address_city,'행정구':address_region,'행정동':address_detail,
                         '단지명':type_list,'브랜드유무':brand_list,'년월일':dateYMD,'년월':dateYM,'월일':dateMD,'년':dateY,'월':dateM,'일':dateD,
                         '전용면적(㎡)':land_area,'크기구분':size_list,'거래금액(만원)':price_list,'평단가':avg_price,'층':floor_list,'준공년도':completion_year,'재건축대상':completion})
#시각화가 간편하도록 년월일 기준으로 정렬 
sort_result = resultdf.sort_values(by=['년월일'])
#csv 파일로 저장 
sort_result.to_csv("/content/drive/MyDrive/시각화프로젝트/아파트매매초기.csv",index=False,encoding = 'cp949')

100%|██████████| 1236261/1236261 [00:26<00:00, 45944.20it/s]

In [ ]:
#전용면적 59 이하 소형 
# 85 이하 중,소형 
#135 이하 중형 
#그이상 대형

In [ ]:
sort_result

,주소,시/도,행정구,행정동,단지명,브랜드유무,년월일,년월,월일,년,월,일,전용면적(㎡),크기구분,거래금액(만원),평단가,층,준공년도,재건축대상
1141602,서울특별시 관악구 봉천동,서울특별시,관악구,봉천동,봉천우성,무,2006-01-01,2006-01,01-01,2006,1,1,59.7600,소형,16900,282.798,3,2000.0,비대상
1196983,서울특별시 서초구 잠원동,서울특별시,서초구,잠원동,신반포2,무,2006-01-01,2006-01,01-01,2006,1,1,79.4200,중소형,56700,713.926,4,1978.0,비대상
1224270,서울특별시 영등포구 양평동2가,서울특별시,영등포구,양평동2가,삼성래미안,무,2006-01-01,2006-01,01-01,2006,1,1,59.4000,소형,18000,303.030,2,1998.0,비대상
1161488,서울특별시 노원구 상계동,서울특별시,노원구,상계동,상계주공6(고층),무,2006-01-01,2006-01,01-01,2006,1,1,59.2000,소형,13500,228.041,12,1988.0,비대상
1219173,서울특별시 양천구 신정동,서울특별시,양천구,신정동,목동신시가지9,무,2006-01-01,2006-01,01-01,2006,1,1,53.8200,소형,33300,618.729,7,1987.0,비대상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7855,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,소형,11300,497.359,3,2017.0,비대상
9190,서울특별시 영등포구 대림동,서울특별시,영등포구,대림동,신대림신동아파밀리에,무,2022-11-30,2022-11,11-30,2022,11,30,126.3249,중형,68000,538.295,2,2013.0,비대상
323,서울특별시 강남구 도곡동,서울특별시,강남구,도곡동,타워팰리스1,무,2022-11-30,2022-11,11-30,2022,11,30,137.2400,대형,345000,2513.844,28,2002.0,비대상
5025,서울특별시 동대문구 답십리동,서울특별시,동대문구,답십리동,힐스테이트청계,유,2022-11-30,2022-11,11-30,2022,11,30,84.8500,중소형,120000,1414.260,26,2018.0,비대상
7856,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,소형,11300,497.359,1,2017.0,비대상

In [ ]:
def size_compare(flolt_num):
  if flolt_num <= 59:
    return'소형'
  elif flolt_num <= 85:
    return'중소형'
  elif flolt_num <= 135:
    return'중형'
  else:
    return'대형'

In [ ]:
size_list = [] 
for i in range(len(sort_result['전용면적(㎡)'])):
  size_list.append(size_compare(sort_result['전용면적(㎡)'][i]))
size_list

['중소형',
 '중소형',
 '중소형',
 '중형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '중소형',
 '중소형',
 '소형',
 '중소형',
 '중형',
 '대형',
 '대형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '소형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중소형',
 '중소형',
 '대형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '중형',
 '중소형',
 '중형',
 '중형',
 '대형',
 '중형',
 '중형',
 '대형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중형',
 '대형',
 '대형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '대형',
 '소형',
 '소형',
 '중소형',
 '소형',
 '소형',
 '중형',
 '중형',
 '중형',
 '대형',
 '대형',
 '대형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '대형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '대형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '중형',
 '중형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '대형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '대형',
 '중형',
 '중형',
 '중소형',
 '대형',
 '중형',
 '대형',
 '대형',
 '대형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '소형',
 '대형',
 '중형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '대형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '대형',
 '대형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '대형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '대형',
 '대형',
 '중형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '소형',
 '소형',
 '중형',
 '중소형',
 '소형',
 '중소형',
 '소형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '대형',
 '대형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '소형',
 '중형',
 '중형',
 '중형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '소형',
 '대형',
 '소형',
 '중소형',
 '대형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '중소형',
 '중소형',
 '대형',
 '중형',
 '대형',
 '대형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '대형',
 '중소형',
 '중소형',
 '대형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '소형',
 '중소형',
 '중형',
 '중형',
 '대형',
 '중형',
 '대형',
 '대형',
 '중소형',
 '대형',
 '중형',
 '중형',
 '중형',
 '중형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중형',
 '중소형',
 '대형',
 '중형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '중형',
 '소형',
 '중형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '소형',
 '소형',
 '중형',
 '중형',
 '대형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '소형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중형',
 '중소형',
 '중형',
 '대형',
 '중형',
 '대형',
 '대형',
 '대형',
 '대형',
 '대형',
 '중소형',
 '중형',
 '대형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '대형',
 '중소형',
 '중형',
 '중형',
 '소형',
 '중형',
 '대형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '대형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '중형',
 '소형',
 '중형',
 '중형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중형',
 '소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '중소형',
 '소형',
 '중형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '소형',
 '중소형',
 ...]

In [ ]:

len(sort_result['전용면적(㎡)'])

1236261

In [ ]:
sort_result['크기구분'].unique

<bound method Series.unique of 1141602    소형
1196983    소형
1224270    소형
1161488    소형
1219173    소형
           ..
7855       소형
9190       소형
323        소형
5025       소형
7856       소형
Name: 크기구분, Length: 1236261, dtype: object>

In [ ]:
sort_result

,주소,시/도,행정구,행정동,단지명,브랜드유무,년월일,년월,월일,년,월,일,전용면적(㎡),거래금액(만원),평단가,층,준공년도,재건축대상,크기구분
1141602,서울특별시 관악구 봉천동,서울특별시,관악구,봉천동,봉천우성,무,2006-01-01,2006-01,01-01,2006,1,1,59.7600,16900,282.798,3,2000.0,비대상,소형
1196983,서울특별시 서초구 잠원동,서울특별시,서초구,잠원동,신반포2,무,2006-01-01,2006-01,01-01,2006,1,1,79.4200,56700,713.926,4,1978.0,비대상,소형
1224270,서울특별시 영등포구 양평동2가,서울특별시,영등포구,양평동2가,삼성래미안,무,2006-01-01,2006-01,01-01,2006,1,1,59.4000,18000,303.030,2,1998.0,비대상,소형
1161488,서울특별시 노원구 상계동,서울특별시,노원구,상계동,상계주공6(고층),무,2006-01-01,2006-01,01-01,2006,1,1,59.2000,13500,228.041,12,1988.0,비대상,소형
1219173,서울특별시 양천구 신정동,서울특별시,양천구,신정동,목동신시가지9,무,2006-01-01,2006-01,01-01,2006,1,1,53.8200,33300,618.729,7,1987.0,비대상,소형
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7855,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,11300,497.359,3,2017.0,비대상,소형
9190,서울특별시 영등포구 대림동,서울특별시,영등포구,대림동,신대림신동아파밀리에,무,2022-11-30,2022-11,11-30,2022,11,30,126.3249,68000,538.295,2,2013.0,비대상,소형
323,서울특별시 강남구 도곡동,서울특별시,강남구,도곡동,타워팰리스1,무,2022-11-30,2022-11,11-30,2022,11,30,137.2400,345000,2513.844,28,2002.0,비대상,소형
5025,서울특별시 동대문구 답십리동,서울특별시,동대문구,답십리동,힐스테이트청계,유,2022-11-30,2022-11,11-30,2022,11,30,84.8500,120000,1414.260,26,2018.0,비대상,소형
7856,서울특별시 성북구 안암동5가,서울특별시,성북구,안암동5가,(160-16),무,2022-11-30,2022-11,11-30,2022,11,30,22.7200,11300,497.359,1,2017.0,비대상,소형

In [ ]:
for i in range(len(price_list)):
  avg_price.append(round(price_list[i]/land_area[i],3))

In [ ]:
len(dateYMD),len(dateYM),len(dateMD),len(dateY),len(dateM),len(dateD),len(address_all),len(address_region),len(address_detail),len(type_list),len(brand_list),len(land_area),len(price_list),len(floor_list),len(completion),len(avg_price)

(1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261,
 1236261)

In [ ]:
dateYMD[0].strftime("%Y-%m")

'2009-04'

In [ ]:
strtodate(str(temp_list[0][3])+str(temp_list[0][4])).year - temp_list[0][7]

21.0

In [ ]:
temp_list[0][7]

1988.0

In [ ]:
trading_all = trading_all.drop(['년월일'],axis =1)

In [ ]:
ls

drive/  sample_data/

## 경제관련 정보 전처리

In [ ]:
/content/drive/MyDrive/시각화프로젝트/경제 1차 전처리

In [ ]:
# csv 파일 명 확인하기 
files = os.listdir('/content/drive/MyDrive/시각화프로젝트/경제 1차 전처리')
files

['실질GDP_경제성장률.csv',
 '통화량추이(말잔).csv',
 '소비자물가상승률.csv',
 '원달러환율월단위.csv',
 '기준금리.csv',
 '통화량추이(평잔).csv',
 '기준금리전처리.csv']

In [ ]:
# 폴더 경로 변수 저장
forder_name = '/content/drive/MyDrive/시각화프로젝트/경제 1차 전처리/'

In [ ]:
file0 = pd.read_csv(forder_name+files[0])
file0

,년,1인당 실질 국민총소득(만 원),전년 대비 증가율(%),1인당 명목 국민총소득(만 원),전년 대비 증가율(%).1,경제성장률
0,2006,"2,465",3.4,"2,070",4.9,5.3
1,2007,"2,592",5.2,"2,233",7.9,5.8
2,2008,"2,582",-0.4,"2,354",5.4,3.0
3,2009,"2,633",2.0,"2,441",3.7,0.8
4,2010,"2,808",6.7,"2,673",9.5,6.8
5,2011,"2,832",0.8,"2,799",4.7,3.7
6,2012,"2,900",2.4,"2,899",3.6,2.4
7,2013,"2,998",3.4,"2,995",3.3,3.2
8,2014,"3,083",2.8,"3,095",3.3,3.2
9,2015,"3,260",5.8,"3,260",5.3,2.8
10,2016,"3,391",4.0,"3,411",4.6,2.9
11,2017,"3,493",3.0,"3,589",5.2,3.2
12,2018,"3,532",1.1,"3,693",2.9,2.9
13,2019,"3,532",0.0,"3,754",1.6,2.2
14,2020,"3,530",-0.1,"3,777",0.6,-0.7
15,2021,"3,656",3.6,"4,048",7.2,4.1

In [ ]:
result = pd.DataFrame()
file1 = pd.read_csv(forder_name+files[1])## 폴더 불러오기
file1 = file1.transpose() #행렬 전환
file1.rename(columns=file1.iloc[0],inplace=True) 
file1 = file1.drop(file1.index[0]) #기존 행 인덱스 번호 제거 
result = file1.reset_index().rename(columns={'index':'년월'}) #새로 인덱스 번호 부여
for i in range(2,6):
  if i !=4:
    file_set = pd.read_csv(forder_name+files[i])## 폴더 불러오기
    file_set = file_set.transpose() #행렬 전환
    file_set.rename(columns=file_set.iloc[0],inplace=True) 
    file_set = file_set.drop(file_set.index[0]) #기존 행 인덱스 번호 제거 
    file_set= file_set.reset_index() #새로 인덱스 번호 부여
    file_set = file_set.drop(["index"],axis=1) # 0번열 제거
    result = pd.concat([result,file_set[:201]],axis = 1)

#년월에서 월 글자 제거 처리 
result.replace('월','', regex=True, inplace=True)
#년월 분리 하여 새로운 컬럼 생성하기 
result["년"]=result["년월"].str[0:4]
result['월']=result["년월"].str[4:]
result['년월'] = result["년월"].str[0:4]+ '-' +result["년월"].str[4:] +'-01'
result
### 순서 새로 재설정
result = result[['년월','년','월','Lf말잔','Lf말잔증가율(%)','M2말잔','M2말잔증가율(%)','M1말잔',
                 'M1말잔증가율(%)','본원통화말잔','본원통화말잔증가율(%)','Lf평잔','Lf평잔증가율(%)',
                 'M2평잔','M2평잔증가율(%)','M1평잔','M1평잔증가율(%)','본원통화평잔',
                 '본원통화평잔증가율(%)','소비자물가','근원물가','생활물가','-\xa0농축수산물','-\xa0공업제품',
                 '-\xa0집세','-\xa0공공서비스','-\xa0개인서비스','원/달러환율','원/달러 절상율(%)','엔/달러 환율',
                 '엔/달러 절상율(%)','원/100엔 환율','원/100엔 절상율(%)']]
# 특수문자 들어간 컬럼명 수정                  
result = result.rename(columns={'-\xa0농축수산물':'농축수산물','-\xa0공업제품':'공업제품','-\xa0집세':'집세','-\xa0공공서비스':'공공서비스','-\xa0개인서비스':'개인서비스'})
result

#csv 파일로 저장 
result.to_csv("/content/drive/MyDrive/시각화프로젝트/경제정보전처리.csv",index=False,encoding = 'cp949')

In [ ]:
file0 = pd.read_csv(forder_name+files[0])

for i in range(file0['년'].count()):
  file0['년'][i] = str(file0['년'][i])+"-01-01"
file0.to_csv("/content/drive/MyDrive/시각화프로젝트/실질GDP_경제성장률.csv",index=False,encoding = 'utf-8')

<ipython-input-28-0e5ffc9631ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file0['년'][i] = str(file0['년'][i])+"-01-01"
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
file0

,년,1인당 실질 국민총소득(만 원),전년 대비 증가율(%),1인당 명목 국민총소득(만 원),전년 대비 증가율(%).1,경제성장률
0,2006-01-01,"2,465",3.4,"2,070",4.9,5.3
1,2007-01-01,"2,592",5.2,"2,233",7.9,5.8
2,2008-01-01,"2,582",-0.4,"2,354",5.4,3.0
3,2009-01-01,"2,633",2.0,"2,441",3.7,0.8
4,2010-01-01,"2,808",6.7,"2,673",9.5,6.8
5,2011-01-01,"2,832",0.8,"2,799",4.7,3.7
6,2012-01-01,"2,900",2.4,"2,899",3.6,2.4
7,2013-01-01,"2,998",3.4,"2,995",3.3,3.2
8,2014-01-01,"3,083",2.8,"3,095",3.3,3.2
9,2015-01-01,"3,260",5.8,"3,260",5.3,2.8
10,2016-01-01,"3,391",4.0,"3,411",4.6,2.9
11,2017-01-01,"3,493",3.0,"3,589",5.2,3.2
12,2018-01-01,"3,532",1.1,"3,693",2.9,2.9
13,2019-01-01,"3,532",0.0,"3,754",1.6,2.2
14,2020-01-01,"3,530",-0.1,"3,777",0.6,-0.7
15,2021-01-01,"3,656",3.6,"4,048",7.2,4.1

In [ ]:
file0['년'].dtype

dtype('O')

In [ ]:
file0

,년,1인당 실질 국민총소득(만 원),전년 대비 증가율(%),1인당 명목 국민총소득(만 원),전년 대비 증가율(%).1,경제성장률
0,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,465",3.4,"2,070",4.9,5.3
1,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,592",5.2,"2,233",7.9,5.8
2,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,582",-0.4,"2,354",5.4,3.0
3,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,633",2.0,"2,441",3.7,0.8
4,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,808",6.7,"2,673",9.5,6.8
5,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,832",0.8,"2,799",4.7,3.7
6,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,900",2.4,"2,899",3.6,2.4
7,0 2006-01-01\n1 2007-01-01\n2 2008...,"2,998",3.4,"2,995",3.3,3.2
8,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,083",2.8,"3,095",3.3,3.2
9,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,260",5.8,"3,260",5.3,2.8
10,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,391",4.0,"3,411",4.6,2.9
11,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,493",3.0,"3,589",5.2,3.2
12,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,532",1.1,"3,693",2.9,2.9
13,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,532",0.0,"3,754",1.6,2.2
14,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,530",-0.1,"3,777",0.6,-0.7
15,0 2006-01-01\n1 2007-01-01\n2 2008...,"3,656",3.6,"4,048",7.2,4.1

In [ ]:
result['-\xa0개인서비스']

0      2.7
1      2.9
2      3.0
3      3.0
4      3.1
      ...
196    5.1
197    5.8
198    6.0
199    6.1
200    6.4
Name: - 개인서비스, Length: 201, dtype: object

In [ ]:
result = result[['년월','년','월','Lf말잔','Lf말잔증가율(%)','M2말잔','M2말잔증가율(%)','M1말잔','M1말잔증가율(%)','본원통화말잔','본원통화말잔증가율(%)','Lf평잔','Lf평잔증가율(%)','M2평잔','M2평잔증가율(%)','M1평잔','M1평잔증가율(%)','본원통화평잔','본원통화평잔증가율(%)','소비자물가','근원물가','생활물가','-\xa0농축수산물','-\xa0공업제품','-\xa0집세','-\xa0공공서비스','-\xa0개인서비스','원/달러환율','원/달러 절상율(%)','엔/달러 환율','엔/달러 절상율(%)','원/100엔 환율','원/100엔 절상율(%)']]

In [ ]:
result = result.rename(columns={'-\xa0농축수산물':'농축수산물','-\xa0공업제품':'공업제품','-\xa0집세':'집세','-\xa0공공서비스':'공공서비스','-\xa0개인서비스':'개인서비스'})

In [ ]:
# 기준금리 csv 파일 불러오기
file4 = pd.read_csv(forder_name+files[4])
# 컬럼명을 원하는 이름으로 변경
file4 = file4.rename(columns={'변경년도':'년','변경월일':'월일'})
#월일 데이터 월, 일 로 분리하여 새로운 컬럼생성
file4['월'] = file4["월일"].str[0:2]
file4['일'] = file4["월일"].str[4:6]
#기존 컬럼에서 특정 문자열제거 
file4.replace('월 ','', regex=True, inplace=True)
file4.replace('일','', regex=True, inplace=True)
# 년월일 문자열로 전환하여 연결후 새로운 컬럼 생성함
file4['년월일'] = file4['년'].astype('str') +"-"+ file4['월'].astype('str')+"-" +file4['일'].astype('str') 
# 년월 문자열 전환 하여 연결후 새로운 컬럼으로 생성 함 
file4['년월'] = file4['년'].astype('str')+"-" + file4['월'].astype('str')
# 데이터프레임 순서 정렬하여 새로 저장 처리 
file4 = file4[['년월일',"년월",'월일','년','월','일','기준금리']]
# csv 파일로 저장처리 
file4.to_csv("/content/drive/MyDrive/시각화프로젝트/기준금리전처리.csv",index=False,encoding = 'cp949')

In [ ]:
test

,행정구역별,항목,단위,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,...,2021.12 월,2022.01 월,2022.02 월,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월
0,종로구,동(호)수[동(호)수],동(호)수,4,6,12,13,10,3,3,...,10,5,5,6,20,9,9,5,6,7
1,중구,동(호)수[동(호)수],동(호)수,1,5,5,7,16,24,13,...,9,9,7,12,12,18,12,9,10,10
2,용산구,동(호)수[동(호)수],동(호)수,6,7,13,14,12,16,6,...,18,14,10,19,16,22,7,23,12,7
3,성동구,동(호)수[동(호)수],동(호)수,5,9,5,12,7,12,1,...,6,3,3,9,6,13,5,3,2,3
4,광진구,동(호)수[동(호)수],동(호)수,1,1,0,5,2,1,3,...,7,8,6,4,6,5,4,5,4,4
5,동대문구,동(호)수[동(호)수],동(호)수,2,0,2,8,5,4,1,...,4,1,4,2,12,7,9,14,1,6
6,중랑구,동(호)수[동(호)수],동(호)수,1,1,4,1,1,3,1,...,3,4,2,5,7,0,4,5,2,0
7,성북구,동(호)수[동(호)수],동(호)수,2,2,1,6,7,4,3,...,5,4,4,4,11,5,7,5,3,1
8,강북구,동(호)수[동(호)수],동(호)수,0,0,3,3,4,6,1,...,4,4,2,3,2,3,7,2,2,4
9,도봉구,동(호)수[동(호)수],동(호)수,2,1,1,3,2,3,5,...,1,4,0,1,2,4,3,1,5,2
10,노원구,동(호)수[동(호)수],동(호)수,2,2,2,5,6,8,2,...,0,1,1,3,3,6,2,2,3,0
11,은평구,동(호)수[동(호)수],동(호)수,3,5,7,7,14,11,7,...,6,7,3,2,11,13,9,8,1,5
12,서대문구,동(호)수[동(호)수],동(호)수,7,6,7,5,10,9,5,...,6,5,4,5,7,9,17,8,43,2
13,마포구,동(호)수[동(호)수],동(호)수,8,7,7,8,19,34,12,...,12,12,11,8,11,14,14,5,10,20
14,양천구,동(호)수[동(호)수],동(호)수,2,3,2,10,7,6,3,...,6,5,2,5,1,6,5,4,1,2
15,강서구,동(호)수[동(호)수],동(호)수,3,4,7,4,7,10,3,...,24,10,20,20,15,54,16,6,13,9
16,구로구,동(호)수[동(호)수],동(호)수,4,1,5,6,9,13,12,...,21,13,14,21,18,22,15,17,18,9
17,금천구,동(호)수[동(호)수],동(호)수,1,2,3,4,3,4,1,...,9,7,6,8,13,15,13,20,8,12
18,영등포구,동(호)수[동(호)수],동(호)수,5,3,17,16,20,22,11,...,22,11,18,4,13,13,15,11,7,8
19,동작구,동(호)수[동(호)수],동(호)수,2,5,5,3,8,5,3,...,4,2,2,9,5,7,8,7,4,1
20,관악구,동(호)수[동(호)수],동(호)수,1,1,2,4,2,6,7,...,4,7,4,5,6,11,5,12,8,13
21,서초구,동(호)수[동(호)수],동(호)수,7,2,15,16,18,21,16,...,14,16,18,19,19,20,9,16,30,95
22,강남구,동(호)수[동(호)수],동(호)수,9,11,17,31,31,37,8,...,21,8,18,20,22,24,24,17,23,6
23,송파구,동(호)수[동(호)수],동(호)수,5,5,11,10,15,27,8,...,10,7,13,8,10,10,21,7,4,16
24,강동구,동(호)수[동(호)수],동(호)수,2,3,3,3,3,4,1,...,10,3,1,3,4,15,2,4,4,3

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/시각화프로젝트/외국인거래량변화/외국인거래량.csv')#csv파일 불러오기 
test1 =test.transpose()
#print(df.drop(labels='row2',axis=0))
test1 = test1.drop(labels={'항목','단위'},axis=0)
test2 = test1.values
test2 = test2.tolist()

address = []
years_list= []
total = []
years = 2013
month = 1
days = 1
for i in range(len(test2[0])):
    for j in range(1,len(test2)):
      address.append(test2[0][i])
      total.append(test2[j][i])
      if month < 10:
        years_list.append(str(years)+'-0'+str(month)+"-0"+str(days))
      else:
        years_list.append(str(years)+'-'+str(month)+"-0"+str(days)) 
      if month == 12:
        month = 1
        years =years+1
      else:
        month = month + 1
    years = 2013
    month = 1
temp =pd.DataFrame({"년도":years_list,'행정구':address,"거래량":total})
temp.to_csv("/content/drive/MyDrive/시각화프로젝트/외국인건물거래량.csv",index=False,encoding = 'cp949')

In [ ]:
temp

              년도  행정구   거래량
0     2013-01-01  종로구   4.0
1     2013-02-01  종로구   6.0
2     2013-03-01  종로구  12.0
3     2013-04-01  종로구  13.0
4     2013-05-01  종로구  10.0
...          ...  ...   ...
2920  2022-05-01  강동구  15.0
2921  2022-06-01  강동구   2.0
2922  2022-07-01  강동구   4.0
2923  2022-08-01  강동구   4.0
2924  2022-09-01  강동구   3.0

[2925 rows x 3 columns]

In [ ]:
temp

              년도  행정구   거래량
0     2013-01-01  종로구   4.0
1     2013-02-01  종로구   6.0
2     2013-03-01  종로구  12.0
3     2013-04-01  종로구  13.0
4     2013-05-01  종로구  10.0
...          ...  ...   ...
2920  2022-05-01  강동구  15.0
2921  2022-06-01  강동구   2.0
2922  2022-07-01  강동구   4.0
2923  2022-08-01  강동구   4.0
2924  2022-09-01  강동구   3.0

[2925 rows x 3 columns]